<script>
  // # # # # # # # # # # # # #
  //
  //  METADATA
  //
  // # # # # # # # # # # # # #

  // *** STORES
  import { seoTitle, seoDescription, seoImage } from "$stores/prismic"
</script>

<svelte:head>
  <title>{$seoTitle}</title>
  <meta property="og:title" content={$seoTitle} />
  <meta property="twitter:title" content={$seoTitle} />
  <meta property="description" content={$seoDescription} />
  <meta property="og:description" content={$seoDescription} />
  <meta property="twitter:description" content={$seoDescription} />
  <meta name="twitter:card" content="summary_large_image" />
  <meta property="image" content={$seoImage} />
  <meta property="og:image" content={$seoImage} />
  <meta property="og:type" content="website" />
  <meta property="twitter:image" content={$seoImage} />
  <meta property="og:site_name" content="{$seoTitle}" />
</svelte:head>