<script>
  export let field
  let vw, url
  let size = 'Medium'

  $: {
    if (vw < 768) {
      size = 'Medium'
    } else if (vw < 1200) {
      size = 'Large'
    } else if (vw < 1600) {
      size = 'Huge'
    } else {
      size = 'Original'
    }

    console.log('size = ', size)
  }

  $: url = size === 'Original' ? field.url : field[size].url
</script>

<svelte:window bind:innerWidth={vw} />

<img src={url} alt={field.alt}>
