<script>
  import PrismicDom from 'prismic-dom'
  import linkResolver from '$utilities/linkResolver.js'
  import serializer from '$utilities/serializer.js'

  export let field
</script>

<div class="rich-text">
  {@html PrismicDom.RichText.asHtml(field, linkResolver, serializer)}
</div>