<script>
  import ImageSlice from "$components/slices/ImageSlice.svelte";
  import VideoSlice from "$components/slices/VideoSlice.svelte";
  import VideoFileSlice from "$components/slices/VideoFileSlice.svelte";
  import ParagraphSlice from "$components/slices/ParagraphSlice.svelte";

  export let slices

  /**
   * Your slice mappings here
   */
  const sliceTypes = {
    image: ImageSlice,
    video: VideoSlice,
    video_file: VideoFileSlice,
    paragraph: ParagraphSlice
  };
</script>


<section class="slices">
  {#each slices as slice}
    <div class="slice">
      <svelte:component this={sliceTypes[slice.slice_type]} {slice} />
    </div>
  {/each}
</section>