<script>
  export let slice
  let iframeTitle = ''

  $: iframeTitle = `${slice.primary.embed.title} by ${slice.primary.embed.author_name}`
</script>

<div class="embed-container">
  <iframe
    title={iframeTitle}
    src="https://player.vimeo.com/video/{slice.primary.embed.video_id}"
    frameborder="0"
    webkitAllowFullScreen
    mozallowfullscreen
    allowFullScreen
  ></iframe>
</div>

<style lang="postcss">
.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;

  & iframe,
  & object,
  & embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
}
</style>